

  <div id='wrap'>
  <p><img id='center' src="/img/doge.png" width=200px; ></p>
  <h1 id='w_h1'>Welcome to the Club House for <br>Phase Repeaters</h1>
  <br>
  <p><a href="/donation"> Donation is here!  </a></p>
 <h3>Repeating is not a shame,but tiring. Cheer up!</h3>
<br>
<br>

    <!-- <p><a href="/signup">Don't have an account?  Sign Up here!</a><p> -->
      <%= link_to("Don't have an account?  Sign Up here!", login_path) %>
  </div>
  <hr>
  <footer>
    <p> Dongchul Lee, DVC squirrel 2015. All rights reserved </p>
  </footer>
