<h1>Welcome!</h1>
This is the lists!


<ul>
<% @posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><li> <%= post.title %></li></a>
  <p> <%= post.user.name %> </p>
<% end %>
</ul>


<a href="/post/new">Create a new post</a>