
 <form id="welcome_box"action="/login" method="post">
  <input type="text" name="name" placeholder=" Your Username Here!"><br>
  <input type="password" name="password" placeholder=" Your Password Here!"><br>
  <input type="submit" >
</form>
